body, html {
    font-family: Lato, sans-serif;
    color: #f7f5fb;
    background: linear-gradient(#5d75a9, #6E85B7);
    margin: 0px;
    height: 100%;
}

.bgColor {
    background-color: #222f4c;
}